<div class="code">
  <span class = "layerheader"><%= @layer.name %></span>
    <% edit = "document.location='/layer/edit/#{@layer.id}'" %>
    <span class = "editlinks">
      <% sample = @sampleUrl + (@layer.sample_url || "nodes?layer=#{@layer.name}&per_page=10") %>
      <a href="<%= sample %>" target='new'>show sample..</a>
      <% if @oid and (@oid==0 or @oid.to_i ==  @layer.owner_id) %>
        &nbsp;/&nbsp;
        <a href='#' onclick="delUrl('/layer/<%= @layer.id %>', {'delete_layer' : 'true', 'category': '<%= @selected %>'})">delete..</a> &nbsp;/&nbsp;
        <a href='/layer/<%= @layer.id %>/edit'>edit..</a> &nbsp;/&nbsp;
        <a href='/layer/<%= @layer.id %>/data'>data..</a>
      <% end %>
    </span>
  
  <table class = "twotable" border="0">
    <tr>
      <td class = "left">category:</td>
      <td class = "right"><%= @layer.category %></td>
    </tr>
    <tr>
      <td class = "left">description:</td>
      <td class = "right"><%= @layer.description %></td>
    </tr>
    <tr>
      <td class = "left">organization:</td>
      <td class = "right"><%= @layer.organization %></td>
    </tr>
    <tr>
      <td class = "left">maintainer:</td>
      <td class = "right"><%= @layer.owner.email %></td>
    </tr>
    <tr>
      <td class = "left">source:</td>
      <td class = "right">
        <% if @layer.data_sources %>
          <% @layer.data_sources.each do |s| %>
            <%= s %><br/>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>

</div> 
