<h4>Layer Properties Mapping<span class="codecomment">Map the properties to meaningful linked data uri's. </span></h4>

<div>
  <table style='table-layout:fixed'>
    <tr>
      <td class="sel_lab">Property:</td>
      <td class="sel_sel"><span id='ldmap'/></td>
      <td class="sel_uri"></td>
    </tr>
    <tr>
      <td class="sel_lab">type:</td>
      <td class="sel_sel"><%= @ptypeSelect %></td>
      <td class="sel_uri"><input class='layer' type="text" id="relation_type" id="relation_type" name="relation_type", value="" placeholder="<URI> or select above" onchange=""/> </td>
    </tr>

    <tr id="relationunit" style="display: none">
      <td class="sel_lab">unit:</td>
      <td class="sel_sel"><%= @ptypeSelect %></td>
      <td class="sel_uri"><input class='layer' type="text" id="" id="relation_unit" name="relation_unit", value="aap" onchange=""/></td>
    </tr>

    <tr id="relationlang" style="display: none">
      <td class="sel_lab">language:</td>
      <td class="sel_sel"><%= @langSelect %></td>
    </tr>

  </table>
  
  <div id="relationdesc">
    description of property:
    <textarea rows="2" cols="50" name="relation_desc" id="relation_desc">
    </textarea>
  </div>
    


</div>





<script type="text/javascript" charset="utf-8">
  $(document).ready(function() { 
    $.layerProperties = <%= @props %>
    selectFieldTags( "<%= @layer.name %>", 'fields')
  })
</script>


